:root {
    --light-green: #7EC284;
    --dark-green: #3F7857;
    --off-white: #F2F2F2;
    --dark-blue: #45625E;
    --med-blue: #A3D2D5;
    --light-blue: #C2DEE1;
    --black: #151514;
    --white: #fff;

    /* Font Variables */
    --font-orbitron: "Orbitron", sans-serif;
    --font-silkscreen: "Silkscreen", sans-serif;
    --font-racing: "Racing Sans One", cursive;
    --font-montserrat: "Montserrat Alternates", sans-serif;
}

/* Reset box model ---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Improve text rendering */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

/* Remove default list styles */
ul,
ol {
    list-style: none;
}

/* Remove anchor underline */
a {
    text-decoration: none;
    color: inherit;
}

/* Ensure images don’t overflow */
img {
    max-width: 100%;
    height: auto;
}



/* reset end --------------------------- */

.iconify {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    color: black;
    /* Change color if needed */
}

nav {
    display: flex;
    height: 4rem;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 5rem;

    img {
        height: 4rem;
    }
}


.nav-items {
    padding-left: 5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: stretch;
    background-color: var(--light-blue);
    border-radius: 70rem 0rem 0rem 70rem;

    li {
        font-family: var(--font-silkscreen);
        font-size: 1rem;
        padding: 0 1rem;
        color: var(--dark-blue);
    }
}

.content-wrap {
    min-height: 20rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
}

h1 {
    font-family: var(--font-orbitron);
    font-size: 1rem;
    text-transform: capitalize;
}

h2 {
    font-family: var(--font-racing);
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 400;
}

h3 {
    font-family: var(--font-silkscreen);
    font-size: 1rem;
    text-transform: capitalize;
}

.intro-header {
    img {
        margin: 1.5rem 0;
        height: 20rem;
    }

    .action-btn {
        background-color: var(--dark-blue);
        color: var(--dark-blue);
        display: flex;
        border: .15rem solid var(--dark-blue);
        border-radius: 999px;
        font-family: var(--font-silkscreen);
        gap: 1rem;

        a {
            background-color: var(--med-blue);
            padding: .25rem 2rem;
            border-radius: 999px;
        }
    }
}

.about {
    align-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 100%;


    h2 {
        background-color: var(--dark-blue);
        color: var(--white);
        padding: .5rem 5rem;
        border-radius: 9999px;



    }

    p {
        font-family: var(--font-silkscreen);
        background-color: var(--dark-blue);
        color: var(--white);
        padding: .5rem 5rem;
        border-radius: 9999px;
        max-width: 60rem;
    }

}

.aboutwrap {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.diagonal-bg {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    background: var(--white);

}

.diagonal-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("images/chip-closeup.jpg") no-repeat center/cover;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.msp-info {
    border: .25rem solid var(--light-blue);
    margin: 5rem auto;
    max-width: 70rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;

    .msp-heading {
        background-color: var(--light-blue);
        width: 100%;
        border: .25rem solid var(--light-blue);
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    .msp-items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem 2rem;
        gap: 2rem;

        h3 {
            font-size: 1.25rem;
        }

        p {
            font-family: var(--font-montserrat);
        }

        li {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}

.divider {
    width: 100%;
    height: 140px;
    background: var(--off-white) url("assets/divider2.svg") repeat-x center;
    overflow: hidden;
    background-size: 1654px auto;
    padding: 0;
}

.choose-wrap {
    background-color: var(--off-white);
    width: 100%;
}

.choose-us {
    background-color: var(--off-white);
    display: flex;
    gap: 3rem;
    margin: auto;
    max-width: 75rem;

    p {
        font-family: var(--font-montserrat);
    }

    h2 {
        color: var(--dark-blue)
    }
}

.choose-reasons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.choose-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reason {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .iconify {
        font-size: 10rem;
        width: 10rem;
        height: auto;
        margin-bottom: 1.5rem;
        color: var(--dark-blue);
    }

    h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    p {
        font-family: var(--font-montserrat);
        font-size: .75rem;
    }
}

.contact {
    background-color: var(--off-white);
    min-height: 50rem;
    gap: 3rem;

}

.email-form {
    border: .25rem solid var(--med-blue);
    background-color: var(--white);
    padding: 0;
    gap: 5rem;
    border-radius: .25rem;

    .email-head {
        font-size: 1.25rem;
        background-color: var(--med-blue);
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

form {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    min-width: 70rem;
    font-family: var(--font-silkscreen);
    font-size: 1rem;
    gap: 2rem;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.email-wrap,
.message-wrap {
    display: flex;
    flex-direction: column;

    label {
        margin-left: .5rem;
    }

    textarea {
        border-radius: 1rem;
        border: .25rem solid var(--med-blue);
        padding: 1rem;
        font-family: var(--font-montserrat);
        color: var(--black);
    }

    input {
        border: .25rem solid var(--med-blue);
        border-radius: 1rem;
        height: 3rem;
    }

}

.btn-primary {
    background-color: var(--med-blue);
    font-family: var(--font-silkscreen);
    color: var(--black);
    padding: 1rem 5rem;
    width: fit-content;
    border-radius: .5rem;
    border: none;

}

footer {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-silkscreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;

    .footer-content {
        padding: 0 4rem;
        width: 100%;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    h4 {
        font-weight: 100;
    }

    li {
        display: flex;
        flex-direction: row;
        gap: .5rem;
        align-items: center;

        .iconify {
            height: 1.5rem;
            color: var(--light-green);
        }
    }

    .footer-contact,
    nav {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        min-width: 15rem;
    }

    .footer-copyright {
        font-size: .75rem;
    }

}